@model List<ApplicationUser>

@{
    ViewBag.Title = "Управление пользователями";
    Layout = "_Layout";
}

<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
    }

    th, td:first-child {
        background: #AFCDE7;
        color: white;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

    td {
        background: #D8E6F3;
    }

        th:first-child, td:first-child {
            text-align: left;
        }
</style>

<h2>Управление пользователями</h2>

<table>
    <tr>
    <th>Действия</th>
    <th>Email</th>
    <th>ФИО</th>
    <th>Дата рождения</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>ССЫЛКИ НА ДЕЙСТВИЯ</td>
            <td>@user.Email</td>
            <td>@user.Surname @user.Name @user.Patronymic</td>
            <td>@user.DateOfBirth</td>
        </tr>
    }
</table>

